
@{
    ViewBag.Title = "SubnetManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title">
            Configration
            <small>settings</small>
        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Subnet Management</span>
                </li>
            </ul>
            @Html.Partial("_BreadcumbAction")
        </div>
        <!-- END PAGE HEADER-->

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

