<div id="acStatusFirstRow">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-bind="attr: { 'data-value': Total() }">0</span>
                    </h3>
                    <small>TOTAL WLC</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">100% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number">100%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-bind="attr: { 'data-value': Online() }">0</span>
                    </h3>
                    <small>MANAGED WLC</small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span data-bind="style : {width:  Online() }" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only"><span data-bind="text : Online()"></span>% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"><span data-bind="text : Online()"></span>%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-bind="attr: { 'data-value': Offline() }">0</span>
                    </h3>
                    <small>OFFLINE WLC</small>
                </div>
                <div class="icon">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span data-bind="style : {width: Offline() }" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only"><span data-bind="text : Offline()"></span>% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"><span data-bind="text : Offline()"></span>% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>TOTAL THROUGHTPUT</small>
                </div>
                <div class="icon">
                    <i class="fa fa-floppy-o"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="apStatusFirstRow">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-bind="text: Total()">0</span>
                    </h3>
                    <small>TOTAL AP</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width:100%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">100% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number">100%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-bind="text: Managed()">0</span>
                    </h3>
                    <small>MANAGED AP</small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span data-bind="style : { width: ManagedPercentage() + '%' }" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only"><span data-bind="text: Managed()"></span>% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"><span data-bind="text: Managed()"></span>%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-bind="text: Connection_Failed()">0</span>
                    </h3>
                    <small>OFFLINE AP</small>
                </div>
                <div class="icon">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span data-bind="style : {width: Connection_Failed() }" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only"><span data-bind="text: Connection_Failed()"></span>% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"><span data-bind="text: Connection_Failed()"></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>TOTAL CLIENT</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var handleCounterup = function () {
        if (!$().counterUp) {
            return;
        }

        $("[data-counter='counterup']").counterUp({
            delay: 10,
            time: 1000
        });
    };

    $(document).ready(function () {
        ///// -------- AC Part -------- /////
        var FirstRowAcStatusViewModel = function (modelView) {
            var self = this;
            ko.mapping.fromJS(modelView, {}, this);
            if (!self.Online()) self.Online(0);
            if (!self.Offline()) self.Offline(0);
            this.Total = ko.computed(function () { return self.Online() + self.Offline() });
            this.OnlinePercentage = ko.computed(function () { return self.Online() / self.Total() * 100 });
            this.OfflinePercentage = ko.computed(function () { return self.Offline() / self.Total() * 100 });
        }

        $.ajax({
            url: "http://217.78.97.240:8081/data/dashboard/acStatus",
            success: function (deviceStatus) {
                ko.applyBindings(new FirstRowAcStatusViewModel(deviceStatus), document.getElementById('acStatusFirstRow'));
                $("[data-counter='counterup']").counterUp({
                    delay: 10,
                    time: 1000
                });
            }
        });
        ///// -------- AC Part -------- /////

        ///// -------- AP Part -------- /////
        var FirstRowApStatusViewModel = function (modelView) {
            var self = this;
            ko.mapping.fromJS(modelView, {}, this);
            if (!self.Managed()) self.Managed(0);
            if (!self.Connection_Failed()) self.Connection_Failed(0);
            this.Total = ko.computed(function () { return self.Managed() + self.Connection_Failed() });
            this.ManagedPercentage = ko.computed(function () { return self.Managed() / self.Total() * 100 });
            this.ConnectionFailedPercentage = ko.computed(function () { return self.Connection_Failed() / self.Total() * 100 });
        }

        $.ajax({
            url: "http://217.78.97.240:8081/data/dashboard/apStatus",
            success: function (deviceStatus) {
                ko.applyBindings(new FirstRowApStatusViewModel(deviceStatus), document.getElementById('apStatusFirstRow'));
                $("[data-counter='counterup']").counterUp({
                    delay: 10,
                    time: 1000
                });
            }
        });
        ///// -------- AC Part -------- /////
    });
</script>