<!-- BEGIN TOTAL WLC and APs-->
@*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="1000">0</span>
                        <span>/</span>
                        <span  data-counter="counterup" data-value="100000">0</span>
                    </h3>
                    <small class="stat-left" style="font-size: 12px;">TOTAL WLC</small>
                    <small>/</small>
                    <small class="stat-right" style="font-size: 12px;">TOTAL AP</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart" style="float:right"></i>
                </div>
            </div>
            <div style="clear:both;">
                <div class="status" style="float:left;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">WLC </div>
                </div>
                <div class="progress" style="float:left; height:4px; width:70%; margin-left:5px; margin-top:7px;">
                    <span style="width: 15%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">15% grow</span>
                    </span>
                </div>
                <div class="status" style="float:left; margin-left:5px;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">100%</div>
                </div>
            </div>
            <div style="clear:both;">
                <div class="status" style="float:left;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">AP </div>
                </div>
                <div class="progress" style="float:left; height:4px; width:70%; margin-left:13px; margin-top:7px;">
                    <span style="width: 15%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">15% grow</span>
                    </span>
                </div>
                <div class="status" style="float:left; margin-left:5px;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">100%</div>
                </div>
            </div>
        </div>
</div>*@
<!-- END TOTAL WLC and APs-->
<div id="acStatusFirstRow">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-bind="attr: { 'data-value': Total() }">0</span>
                    </h3>
                    <small>TOTAL WLC</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">100% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 100% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-bind="attr: { 'data-value': Online() }">0</span>
                    </h3>
                    <small>MANAGED WLC</small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span data-bind="style : {width:  Online() }" style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only"><span data-bind="text : Online()"></span>% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"><span data-bind="text : Online()"></span>%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>OFFLINE WLC</small>
                </div>
                <div class="icon">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>TOTAL THROUGHTPUT</small>
                </div>
                <div class="icon">
                    <i class="fa fa-floppy-o"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="apStatusFirstRow">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>TOTAL AP</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>MANAGED AP</small>
                </div>
                <div class="icon">
                    <i class="icon-like"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>OFFLINE AP</small>
                </div>
                <div class="icon">
                    <i class="fa fa-power-off"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-dark">
                        <span data-counter="counterup" data-value="7800">0</span>
                    </h3>
                    <small>TOTAL CLIENT</small>
                </div>
                <div class="icon">
                    <i class="icon-user"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                        <span class="sr-only">76% progress</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title" style="font-size:10px"> progress </div>
                    <div class="status-number"> 76% </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        ///// -------- AC Part -------- /////

        var FirstRowAcStatusViewModel = {
            Online: ko.observable(),
            Offline: ko.observable()
        }

        $.ajax({
            url: "http://217.78.97.240:8081/data/dashboard/acStatus",
            success: function (alarmEvent) {
                FirstRowAcStatusViewModel = ko.mapping.fromJS(alarmEvent, {}, FirstRowAcStatusViewModel);
            }
        });

        if (!FirstRowAcStatusViewModel.Online()) FirstRowAcStatusViewModel.Online(0);
        if (!FirstRowAcStatusViewModel.Offline()) FirstRowAcStatusViewModel.Offline(0);

        FirstRowAcStatusViewModel.Total = ko.computed(function () { return this.Online() + this.Offline() }, FirstRowAcStatusViewModel);
        FirstRowAcStatusViewModel.OnlinePercentage = ko.computed(function () { return (this.Online() / (this.Online() + this.Offline())) * 100 }, FirstRowAcStatusViewModel);
        FirstRowAcStatusViewModel.OfflinePercentage = ko.computed(function () { return (this.Offline() / (this.Online() + this.Offline())) * 100 }, FirstRowAcStatusViewModel);
        ko.applyBindings(FirstRowAcStatusViewModel, document.getElementById('acStatusFirstRow'));

        ///// -------- AC Part -------- /////



        ///// -------- AP Part -------- /////

        var FirstRowApStatusViewModel = {
            Managed: ko.observable(),
            Connection_Failed: ko.observable()
        }

        $.ajax({
            url: "http://217.78.97.240:8081/data/dashboard/apStatus",
            success: function (alarmEvent) {
                FirstRowApStatusViewModel = ko.mapping.fromJS(alarmEvent, {}, FirstRowApStatusViewModel);
            }
        });

        if (!FirstRowApStatusViewModel.Managed()) FirstRowApStatusViewModel.Managed(0);
        if (!FirstRowApStatusViewModel.Connection_Failed()) FirstRowApStatusViewModel.Connection_Failed(0);

        FirstRowApStatusViewModel.Total = ko.computed(function () { return this.Managed() + this.Connection_Failed() }, FirstRowApStatusViewModel);
        FirstRowApStatusViewModel.ManagedPercentage = ko.computed(function () { return (this.Managed() / (this.Managed() + this.Connection_Failed())) * 100 }, FirstRowApStatusViewModel);
        FirstRowApStatusViewModel.ConnectionFailedPercentage = ko.computed(function () { return (this.Connection_Failed() / (this.Managed() + this.Connection_Failed())) * 100 }, FirstRowApStatusViewModel);
        ko.applyBindings(FirstRowApStatusViewModel, document.getElementById('apStatusFirstRow'));

        ///// -------- AC Part -------- /////
    });

</script>