<!-- BEGIN TOTAL WLC and APs-->
@*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="1000">0</span>
                        <span>/</span>
                        <span  data-counter="counterup" data-value="100000">0</span>
                    </h3>
                    <small class="stat-left" style="font-size: 12px;">TOTAL WLC</small>
                    <small>/</small>
                    <small class="stat-right" style="font-size: 12px;">TOTAL AP</small>
                </div>
                <div class="icon">
                    <i class="icon-pie-chart" style="float:right"></i>
                </div>
            </div>
            <div style="clear:both;">
                <div class="status" style="float:left;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">WLC </div>
                </div>
                <div class="progress" style="float:left; height:4px; width:70%; margin-left:5px; margin-top:7px;">
                    <span style="width: 15%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">15% grow</span>
                    </span>
                </div>
                <div class="status" style="float:left; margin-left:5px;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">100%</div>
                </div>
            </div>
            <div style="clear:both;">
                <div class="status" style="float:left;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">AP </div>
                </div>
                <div class="progress" style="float:left; height:4px; width:70%; margin-left:13px; margin-top:7px;">
                    <span style="width: 15%;" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">15% grow</span>
                    </span>
                </div>
                <div class="status" style="float:left; margin-left:5px;">
                    <div style="font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase;">100%</div>
                </div>
            </div>
        </div>
</div>*@
<!-- END TOTAL WLC and APs-->

<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-blue-dark">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>TOTAL WLC</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-green-sharp">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>MANAGED WLC</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-red-haze">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>OFFLINE WLC</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success red-haze">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-blue-dark">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>TOTAL AP</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success blue-dark">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-green-sharp">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>MANAGED AP</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat2 ">
        <div class="display">
            <div class="number">
                <h3 class="font-red-haze">
                    <span data-counter="counterup" data-value="7800">0</span>
                </h3>
                <small>OFFLINE AP</small>
            </div>
            <div class="icon">
                <i class="icon-pie-chart"></i>
            </div>
        </div>
        <div class="progress-info">
            <div class="progress">
                <span style="width: 76%;" class="progress-bar progress-bar-success red-haze">
                    <span class="sr-only">76% progress</span>
                </span>
            </div>
            <div class="status">
                <div class="status-title" style="font-size:10px"> progress </div>
                <div class="status-number"> 76% </div>
            </div>
        </div>
    </div>
</div>