    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-6 col-xs-12 col-sm-12">
                        <span class="caption-subject bold font-dark" style="border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:15px; display:block">
                            <i class="fa fa-wifi font-dark"></i>
                            ACCESS CONTROLLER STATISTICS
                            <span class="thin" style="font-size:14px; color:#aaa; float:right">Total Count : <span class="bold" style="color:red">34</span></span>
                        </span>
                        <div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number transactions" data-percent="55">
                                        <span>55</span>%
                                    </div>
                                    <span>Online</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number visits" data-percent="85">
                                        <span>85</span>%
                                    </div>
                                    <span>Offline</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce" data-percent="46">
                                        <span>46</span>%
                                    </div>
                                    <span>Unmanaged</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce" data-percent="46">
                                        <span>46</span>%
                                    </div>
                                    <span>SNMP Unreachable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-12 col-sm-12">
                        <span class="caption-subject bold font-dark" style="border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:15px; display:block">
                            <i class="fa fa-signal font-dark"></i>    
                        ACCESS POINT STATISTICS
                            <span class="thin" style="font-size:14px; color:#aaa; float:right">Total Count : <span class="bold" style="color:red">4399</span></span></span>
                        <div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number transactions" data-percent="55">
                                        <span>55</span>%
                                    </div>
                                    <span>Online</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number visits" data-percent="85">
                                        <span>85</span>%
                                    </div>
                                    <span>Offline</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce" data-percent="46">
                                        <span>46</span>%
                                    </div>
                                    <span>Unmanaged</span>
                                </div>
                            </div>
                            <div class="margin-bottom-10 visible-sm"> </div>
                            <div class="col-md-3">
                                <div class="easy-pie-chart">
                                    <div class="number bounce" data-percent="46">
                                        <span>46</span>%
                                    </div>
                                    <span>SNMP Unreachable</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var PieCharts = function () {
        return {
            initEasyPieCharts: function () {
                if (!jQuery().easyPieChart) {
                    return;
                }

                $('.easy-pie-chart .number.transactions').easyPieChart({
                    animate: 1000,
                    size: 75,
                    lineWidth: 3,
                    barColor: App.getBrandColor('yellow')
                });

                $('.easy-pie-chart .number.visits').easyPieChart({
                    animate: 1000,
                    size: 75,
                    lineWidth: 3,
                    barColor: App.getBrandColor('green')
                });

                $('.easy-pie-chart .number.bounce').easyPieChart({
                    animate: 1000,
                    size: 75,
                    lineWidth: 3,
                    barColor: App.getBrandColor('red')
                });

                $('.easy-pie-chart-reload').click(function () {
                    $('.easy-pie-chart .number').each(function () {
                        var newValue = Math.floor(100 * Math.random());
                        $(this).data('easyPieChart').update(newValue);
                        $('span', this).text(newValue);
                    });
                });
            },
        }
    }();

    jQuery(document).ready(function () {
        PieCharts.initEasyPieCharts(); // init metronic core componets
    });
</script>