    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-body">
                <div class="row">
                    <div id="acstatus" class="col-lg-6 col-xs-12 col-sm-12">
                        <span class="caption-subject bold font-dark" style="font-size:14px; border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:15px; display:block">
                            <i class="fa fa-wifi font-dark"></i>
                            ACCESS CONTROLLER STATISTICS
                            <span class="thin" style="color:#aaa; float:right">Total Count : <span class="bold" style="color:red" data-bind="text: Total()"></span></span>
                        </span>
                        <div style="height:150px;">
                            <div class="col-md-5">
                                <div class="easy-pie-chart">
                                    <div class="number transactions aconline" data-bind="attr: { 'data-percent': OnlinePercentage() }">
                                        <span style="margin-left: 35px; padding-top: 20px; display: block; font-size: 20px;" data-bind="text: Online()"></span>
                                    </div>
                                    <span style="display: block; margin-left: 35px; margin-top: 55px;">Online</span>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="easy-pie-chart">
                                    <div class="number transactions acoffline" data-bind="attr: { 'data-percent': OfflinePercentage() }">
                                        <span style="margin-left: 35px; padding-top: 20px; display: block; font-size: 20px;" data-bind="text: Offline()"></span>
                                    </div>
                                    <span style="display: block; margin-left: 35px; margin-top: 55px;">Offline</span>
                                </div>
                            </div>
                    </div>
                </div>
                <div id="apstatus" class="col-lg-6 col-xs-12 col-sm-12">
                    <span class="caption-subject bold font-dark" style="border-bottom:1px solid #eee; padding-bottom:10px; margin-bottom:15px; display:block">
                        <i class="fa fa-signal font-dark"></i>    
                    ACCESS POINT STATISTICS
                        <span class="thin" style="font-size:14px; color:#aaa; float:right">Total Count : <span class="bold" style="color:red" data-bind="text: Total()"></span></span></span>
                    <div style="height:150px;">
                        <div class="col-md-5">
                            <div class="easy-pie-chart">
                                <div class="number transactions apmanaged" data-bind="attr: { 'data-percent': ManagedPercentage() }">
                                    <span style="margin-left: 35px; padding-top: 20px; display: block; font-size: 20px;" data-bind="text: Managed()"></span>
                                </div>
                                <span style="display: block; margin-left: 35px; margin-top: 55px;">Managed</span>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="easy-pie-chart">
                                <div class="number transactions apconfail" data-bind="attr: { 'data-percent': ConnectionFailedPercentage() }">
                                    <span style="margin-left: 35px; padding-top: 20px; display: block; font-size: 20px;" data-bind="text: Connection_Failed()"></span>
                                </div>
                                <span style="display: block; margin-left: 35px; margin-top: 55px;">Connection Failed</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var PieCharts = function () {
        return {
            initEasyPieCharts: function () {
                if (!jQuery().easyPieChart) {
                    return;
                }

                $('.easy-pie-chart .number.transactions.aconline').easyPieChart({
                    animate: 1000,
                    size: 120,
                    lineWidth: 8,
                    barColor: App.getBrandColor('green')
                });

                $('.easy-pie-chart .number.transactions.acoffline').easyPieChart({
                    animate: 1000,
                    size: 120,
                    lineWidth: 8,
                    barColor: App.getBrandColor('red')
                });

                $('.easy-pie-chart .number.transactions.apmanaged').easyPieChart({
                    animate: 1000,
                    size: 120,
                    lineWidth: 8,
                    barColor: App.getBrandColor('blue')
                });

                $('.easy-pie-chart .number.transactions.apconfail').easyPieChart({
                    animate: 1000,
                    size: 120,
                    lineWidth: 8,
                    barColor: App.getBrandColor('red')
                });
            }
        }
    }();

    $(document).ready(function () {

        //AC Part
        var AcStatusViewModel = {
            Online: ko.observable(),
            Offline: ko.observable()
        }
        ko.mapping.fromJS({ 'Online': 1100, 'Offline': 100 }, {}, AcStatusViewModel);
        if (!AcStatusViewModel.Online()) AcStatusViewModel.Online(0);
        if (!AcStatusViewModel.Offline()) AcStatusViewModel.Offline(0);

        AcStatusViewModel.Total = ko.computed(function () { return this.Online() + this.Offline() }, AcStatusViewModel);
        AcStatusViewModel.OnlinePercentage = ko.computed(function () { return (this.Online() / (this.Online() + this.Offline())) * 100 }, AcStatusViewModel);
        AcStatusViewModel.OfflinePercentage = ko.computed(function () { return (this.Offline() / (this.Online() + this.Offline())) * 100 }, AcStatusViewModel);
        ko.applyBindings(AcStatusViewModel, document.getElementById('acstatus'));

        //AP Part
        var ApStatusViewModel = {
            Managed: ko.observable(),
            Connection_Failed: ko.observable()
        }
        ko.mapping.fromJS({ 'Managed': 42000, 'Connection_Failed': 100 }, {}, ApStatusViewModel);
        if (!ApStatusViewModel.Managed()) ApStatusViewModel.Managed(0);
        if (!ApStatusViewModel.Connection_Failed()) ApStatusViewModel.Connection_Failed(0);

        ApStatusViewModel.Total = ko.computed(function () { return this.Managed() + this.Connection_Failed() }, ApStatusViewModel);
        ApStatusViewModel.ManagedPercentage = ko.computed(function () { return (this.Managed() / (this.Managed() + this.Connection_Failed())) * 100 }, ApStatusViewModel);
        ApStatusViewModel.ConnectionFailedPercentage = ko.computed(function () { return (this.Connection_Failed() / (this.Managed() + this.Connection_Failed())) * 100 }, ApStatusViewModel);
        ko.applyBindings(ApStatusViewModel, document.getElementById('apstatus'));

        PieCharts.initEasyPieCharts();
    });
</script>