<div class="col-lg-12 col-xs-12 col-sm-12">
    <!-- BEGIN INTERACTIVE CHART PORTLET-->
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-line-chart font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">WLAN User Statistics</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="chart_2" class="chart" style="width:100%; height:250px;"></div>
        </div>
    </div>
    <!-- END INTERACTIVE CHART PORTLET-->
</div>

<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var ChartsFlotcharts = function () {
        return {

            initCharts: function () {

                if (!jQuery.plot) {
                    return;
                }

                var data = [];
                var totalPoints = 250;

                // random data generator for plot charts

                function getRandomData() {
                    if (data.length > 0) data = data.slice(1);
                    // do a random walk
                    while (data.length < totalPoints) {
                        var prev = data.length > 0 ? data[data.length - 1] : 50;
                        var y = prev + Math.random() * 10 - 5;
                        if (y < 0) y = 0;
                        if (y > 100) y = 100;
                        data.push(y);
                    }
                    // zip the generated y values with the x values
                    var res = [];
                    for (var i = 0; i < data.length; ++i) {
                        res.push([i, data[i]]);
                    }

                    return res;
                }

                function chart2() {
                    if ($('#chart_2').size() != 1) {
                        return;
                    }

                    function randValue() {
                        return (Math.floor(Math.random() * (1 + 40 - 20))) + 20;
                    }
                    var visitors = [
                        [1, randValue() - 5],
                        [2, randValue() - 5],
                        [3, randValue() - 5],
                        [4, 6 + randValue()],
                        [5, 5 + randValue()],
                        [6, 20 + randValue()],
                        [7, 25 + randValue()],
                        [8, 36 + randValue()],
                        [9, 26 + randValue()],
                        [10, 38 + randValue()],
                        [11, 39 + randValue()],
                        [12, 50 + randValue()],
                        [13, 51 + randValue()],
                        [14, 12 + randValue()],
                        [15, 13 + randValue()],
                        [16, 14 + randValue()],
                        [17, 15 + randValue()],
                        [18, 15 + randValue()],
                        [19, 16 + randValue()],
                        [20, 17 + randValue()],
                        [21, 18 + randValue()],
                        [22, 19 + randValue()],
                        [23, 20 + randValue()],
                        [24, 21 + randValue()],
                        [25, 14 + randValue()],
                        [26, 24 + randValue()],
                        [27, 25 + randValue()],
                        [28, 26 + randValue()],
                        [29, 27 + randValue()],
                        [30, 31 + randValue()]
                    ];

                    var plot = $.plot($("#chart_2"), [
                        {
                            data: visitors,
                            label: "Page Views",
                            lines: {
                                lineWidth: 1,
                            },
                            shadowSize: 0
                        }], {
                        series: {
                            lines: {
                                show: true,
                                lineWidth: 2,
                                fill: true,
                                fillColor: {
                                    colors: [{
                                        opacity: 0.05
                                    }, {
                                        opacity: 0.01
                                    }]
                                }
                            },
                            points: {
                                show: true,
                                radius: 3,
                                lineWidth: 1
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#eee",
                            borderColor: "#eee",
                            borderWidth: 1
                        },
                        colors: ["#d12610", "#37b7f3", "#52e136"],
                        xaxis: {
                            ticks: 11,
                            tickDecimals: 0,
                            tickColor: "#eee",
                        },
                        yaxis: {
                            ticks: 11,
                            tickDecimals: 0,
                            tickColor: "#eee",
                        }
                    });


                    function showTooltip(x, y, contents) {
                        $('<div id="tooltip">' + contents + '</div>').css({
                            position: 'absolute',
                            display: 'none',
                            top: y + 5,
                            left: x + 15,
                            border: '1px solid #333',
                            padding: '4px',
                            color: '#fff',
                            'border-radius': '3px',
                            'background-color': '#333',
                            opacity: 0.80
                        }).appendTo("body").fadeIn(200);
                    }

                    var previousPoint = null;
                    $("#chart_2").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));

                        if (item) {
                            if (previousPoint != item.dataIndex) {
                                previousPoint = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                                showTooltip(item.pageX, item.pageY, item.series.label + " of " + x + " = " + y);
                            }
                        } else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                    });
                }
                chart2();
            },
            initAxisLabelsPlugin: function () {
                var d1 = [];

                for (var i = 0; i < Math.PI * 2; i += 0.25)
                    d1.push([i, Math.sin(i)]);

                var d2 = [];
                for (var i = 0; i < Math.PI * 2; i += 0.25)
                    d2.push([i, Math.cos(i)]);

                var d3 = [];
                for (var i = 0; i < Math.PI * 2; i += 0.1)
                    d3.push([i, Math.tan(i)]);

                var options = {
                    axisLabels: {
                        show: true
                    },
                    xaxes: [{
                        axisLabel: 'hor label',
                        tickColor: "#eee",
                    }],
                    yaxes: [{
                        position: 'left',
                        axisLabel: 'ver label',
                        tickColor: "#eee",
                    }, {
                        position: 'right',
                        axisLabel: 'bleem'
                    }],

                    grid: {
                        borderColor: "#eee",
                        borderWidth: 1
                    }
                };
            }
        }
    }();

    jQuery(document).ready(function () {
        ChartsFlotcharts.initCharts();
        //ChartsFlotcharts.initPieCharts();
        //ChartsFlotcharts.initBarCharts();
        ChartsFlotcharts.initAxisLabelsPlugin();
    });
</script>