
@{
    ViewBag.Title = "File Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h1 class="page-title">
            User Management Configuration
        </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>User Management</span>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div id="fileUploadList" class="col-md-12">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-settings font-green"></i>
                            <span class="caption-subject font-green sbold uppercase">USER LIST</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                                    <i class="fa fa-share"></i>
                                    <span class="hidden-xs"> User Settings </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" id="sample_3_tools">
                                    <li>
                                        <a data-toggle="modal" href="#addUser" data-action="0" class="tool-action">
                                            <i class="icon-user"></i> Add User
                                        </a>
                                        <div id="addUser" class="modal fade" tabindex="-1" data-width="760">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                <h4 class="modal-title">Define new user</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <form action="#" id="form_fileupload" class="form-horizontal">
                                                            <div class="form-body">
                                                                <div class="alert alert-danger display-hide">
                                                                    <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                                                                </div>
                                                                <div class="alert alert-success display-hide">
                                                                    <button class="close" data-close="alert"></button> Your form validation is successful!
                                                                </div>
                                                                <div class="form-group  margin-top-20">
                                                                    <label class="control-label col-md-3">
                                                                        User Name
                                                                        <span class="required"> * </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <input type="text" class="form-control" name="userName" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">
                                                                        Password
                                                                        <span class="required"> * </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <input type="password" class="form-control" name="userPass" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">
                                                                        Confirm Password
                                                                        <span class="required"> * </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <input type="password" class="form-control" name="userPassConfirm" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">
                                                                        Login Range
                                                                        <span class="required"> * </span>
                                                                    </label>
                                                                    <div class="col-md-5">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <input type="text" class="form-control" name="userloginRange1" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <input type="text" class="form-control" name="userloginRange2" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-3">
                                                                        Role
                                                                        <span class="required"> * </span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="input-icon right">
                                                                            <i class="fa"></i>
                                                                            <select class="form-control select2" name="userRole">
                                                                                <option value="Admin">Admin</option>
                                                                                <option value="Operator">Operator</option>
                                                                                <option value="Viewer">Viewer</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                                <button type="button" class="btn green">Save changes</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-action="1" class="tool-action">
                                            <i class="icon-refresh"></i> Edit User
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-action="2" class="tool-action">
                                            <i class="icon-trash"></i> Delete User
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN TABLE-->
                        <table id="fileUploadTable" class="table table-striped table-bordered table-hover dt-responsive table-checkable">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" data-set="#fileUploadTable .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th class="all">Name</th>
                                    <th class="all">Role</th>
                                    <th class="all">Action</th>
                                </tr>
                            </thead>
                            <tbody data-bind="dataTablesForEach : {
			                                data: setTableFileUpload,
			                                options: {
				                                deferRender: true,
				                                paging: true,
				                                fixedColumns: {
					                                leftColumns: 2
				                                },
				                                scrollX: false
			                                }
		                                }">
                                <tr>
                                    <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" value="1" />
                                            <span></span>
                                        </label>
                                    </td>
                                    <td><a href="#"><span data-bind="text: moment(recordTime()).format('DD-MM-YYYY HH:mm:ss')"></span></a></td>
                                    <td><span data-bind="text: ac.name()"></span></td>
                                    <td><span data-bind="text: ac.ipaddress()"></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->


<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/table-datatables-responsive.min.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {

        var formFileUpload = $('#form_fileupload');
        var errorFileUpload = $('.alert-danger', formFileUpload);
        var successFileUpload = $('.alert-success', formFileUpload);

        formFileUpload.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            rules: {
                userName: {
                    minlength: 2,
                    required: true
                },
                userPass: {
                    required: true,
                    email: true
                },
                userPassConfirm: {
                    required: true,
                    email: true
                },
                userloginRange1: {
                    required: true,
                    email: true
                },
                userloginRange2: {
                    required: true,
                    email: true
                },
                userRole: {
                    required: true,
                    email: true
                }
            },

            invalidHandler: function (event, validator) { //display error alert on form submit
                successFileUpload.hide();
                errorFileUpload.show();
                App.scrollTo(errorFileUpload, -200);
            },

            errorPlacement: function (error, element) { // render error placement for each input type
                var icon = $(element).parent('.input-icon').children('i');
                icon.removeClass('fa-check').addClass("fa-warning");
                icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                    .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change done by hightlight

            },

            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            submitHandler: function (form) {
                successFileUpload.show();
                errorFileUpload.hide();
                form[0].submit(); // submit the form
            }
        });

        ko.bindingHandlers.dataTablesForEach = {
            page: 0,
            init: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                var binding = ko.utils.unwrapObservable(valueAccessor());

                ko.unwrap(binding.data);

                if (binding.options.paging) {
                    binding.data.subscribe(function (changes) {
                        var table = $(element).closest('table').DataTable();
                        ko.bindingHandlers.dataTablesForEach.page = table.page();
                        table.destroy();
                    }, null, 'arrayChange');
                }

                var nodes = Array.prototype.slice.call(element.childNodes, 0);
                ko.utils.arrayForEach(nodes, function (node) {
                    if (node && node.nodeType !== 1) {
                        node.parentNode.removeChild(node);
                    }
                });

                return ko.bindingHandlers.foreach.init(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext);
            },
            update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                var binding = ko.utils.unwrapObservable(valueAccessor()),
                    key = 'DataTablesForEach_Initialized';

                ko.unwrap(binding.data);

                var table;
                if (!binding.options.paging) {
                    table = $(element).closest('table').DataTable();
                    table.destroy();
                }

                ko.bindingHandlers.foreach.update(element, valueAccessor, allBindings, viewModel, bindingContext);

                table = $(element).closest('table').DataTable(binding.options);

                if (binding.options.paging) {
                    if (table.page.info().pages - ko.bindingHandlers.dataTablesForEach.page === 0) {
                        table.page(--ko.bindingHandlers.dataTablesForEach.page).draw(false);
                    } else {
                        table.page(ko.bindingHandlers.dataTablesForEach.page).draw(false);
                    }
                }

                if (!ko.utils.domData.get(element, key) && (binding.data || binding.length)) {
                    ko.utils.domData.set(element, key, true);
                }

                return {
                    controlsDescendantBindings: true
                };
            }
        };

        var UploadFileManagement = {
            setTableFileUpload: ko.observableArray([])
        };

        ko.applyBindings(UploadFileManagement, document.getElementById('fileUploadList'));


        $('#filterFirmwareBtn').on('click', function ()
        {
            UploadFileManagement.setTableFileUpload([]);

            $.ajax({
                url: "http://217.78.97.240:8081/data/file/ " + fileType,
                success: function (ResponseFiles) {
                    ko.mapping.fromJS(ResponseFiles, {}, UploadFileManagement.setTableFileUpload);
                }
            });
        });


        $('#fileUploadTable').find('.group-checkable').change(function () {
            var set = $(this).attr("data-set");
            var checked = $(this).is(":checked");
            $(set).each(function () {
                if (checked) {
                    $(this).prop("checked", true);
                    $(this).parents('tr').addClass("active");
                } else {
                    $(this).prop("checked", false);
                    $(this).parents('tr').removeClass("active");
                }
            });
        });

        $('#fileUploadTable').on('change', 'tbody tr .checkboxes', function () {
            $(this).parents('tr').toggleClass("active");
        });

    });
</script> 